body {
    margin: 0 auto;
    padding: 0;
    height: 100vh;
    margin: 0; /* Opcjonalnie, aby usunąć marginesy */
    padding: 0; /* Opcjonalnie, aby usunąć padding */
    overflow-y: auto;
}

.container { 
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav-section {
    order: 1;
    width: 100%;
}

.dashboard-section {
    order:2; 
}